::backdrop {
  background-color: rgba(255, 255, 255, 0.5);
}

.dialog {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  text-align: center;
  background-color: var(--dark-color);
  border-radius: 10px;
  margin: auto;
}

.icon {
  width: 120px;
  color: var(--secondary-color);
  margin: auto;
}

.title {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  width: 100%;
  line-height: 40px;
  color: var(--primary-color);
  background-color: var(--background-color);
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  color: var(--dark-color);
  background-color: var(--bright-color);
}
