::-webkit-scrollbar {
  display: none;
}

.section {
  height: 100%;
}

.title {
  height: 80px;
  text-align: center;
  font: bolder 1.75rem/80px var(--font-family);
}

.list {
  height: calc(100% - 80px);
  display: flex;
  overflow-y: auto;
  gap: 10px;
  flex-direction: column;
}
